[not-group=5]<div class="edit">[edit]<img src="{THEME}/images/edit.png" style="vertical-align: middle;border: none;" />[/edit]</div>
<div class="fav">{favorites}</div>[/not-group]

<div class="sortn"><h1>{title}</h1></div>
[xfgiven_poster]
<div class="fullstory">
	<div class="full-left">
		<div class="short"><img src="[xfvalue_poster]" alt="{title}" title="{title}" /></div>
	<!--noindex-->
		<div class="full-vie"><span>{views}</span></div>
		
		[group=1]
			[xfgiven_kipoisk]
				<div class="tp-rating">
					{include file="kinopoisk.tpl"}
					<div class="clear"></div>
				</div>
			[/xfgiven_kipoisk]
		[/group]
	<!--/noindex-->
	</div>
	
</div>
<div class="opisanie">
{short-story}
<div style="clear: both;"></div>
<!--noindex-->{include file="social.tpl"}<!--/noindex-->
</div>

<!--noindex--><div align="center" class="advdown">
<a href="http://rufilms.org/go/{include file="download.php"}?r=18328&q={title}&i=[xfvalue_poster]" target="_blank" rel="nofollow">
    <table border="0" align="center">
  <tr>
    <td width="82" align="left"><img src="{THEME}/images/down.png" alt="Скачать {title}" width="82" height="82" /></td>
    <td align="left"><div class="advdown1">Скачать &laquo;<b>{title}</b>&raquo; быстро</div>
<div class="advdown2">По прямой ссылке, на максимальной скорости! Без рекламы и задержек. </div></td>
  </tr>
</table>
</div><br /><!--/noindex-->

	<div class="tt-tabs">
		<div class="index-tabs">
			[xfgiven_online]<span>Смотреть фильм онлайн</span>[/xfgiven_online]
			[xfgiven_trailer]<span>Трейлер</span>[/xfgiven_trailer]
		</div>
		<div class="full-pl">
			<div class="index-panel">
			[xfgiven_online]
			<div class="tt-panel">
				<div class="full-video">[xfvalue_online]</div>
			</div>
			[/xfgiven_online]
			[xfgiven_trailer]
			<div class="tt-panel">
				<div class="full-video">[xfvalue_trailer]</div>
			</div>
			[/xfgiven_trailer]
			</div>
		</div>
	</div>
	
	[xfgiven_screens]
	<div class="full-pl-img">
		<div class="screens">
			[xfvalue_screens]
		</div>
	</div>
	[/xfgiven_screens]

	<div class="fullstory">
		<div class="fullstoryss">
			[xfgiven_links]
				<h2>Скачать {title} бесплатно</h2>
				<div class="links">
					<!--noindex-->[xfvalue_links]<!--/noindex-->
				</div>
			[/xfgiven_links]
			
			[xfgiven_torrent]<br />
				Скачать через torrent
				<div class="links">
					[xfvalue_torrent]
				</div>
			[/xfgiven_torrent]
		</div>
	</div>
[/xfgiven_poster]

[xfnotgiven_poster]
<div class="fullstory">
	<div class="fullstoryss">
	{full-story}
	<!--noindex-->
		<div align="center" class="advdown">
			<a href="http://rufilms.org/go/{include file="download.php"}?r=18328&q={title}&i=[xfvalue_poster]" target="_blank" rel="nofollow">
				<table border="0" align="center">
				  <tr>
					<td width="82" align="left"><img src="{THEME}/images/down.png" alt="Скачать {title}" width="82" height="82" /></td>
					<td align="left">
						<div class="advdown1">Скачать &laquo;<b>{title}</b>&raquo; быстро</div>
						<div class="advdown2">По прямой ссылке, на максимальной скорости! Без рекламы и задержек. </div>
					</td>
				  </tr>
				</table>
			</a>
		</div>
	<br/>
	<!--/noindex-->
	</div>
</div>
[/xfnotgiven_poster]

<div class="rel">
	[related-news]
		<div class="baseformmm">Рекомендуем к просмотру:</div>
		<div class="rela">
			{related-news}
		</div>
	[/related-news]
{addcomments}
[comments]
	{comments}
	{navigation}
[/comments]
</div>








<div id="dle-content">
    <div class="fullstory">
        <h2 class="btl">{title}</h2>
        <div class="movieinfo clrfix">
            <ul class="listing rcol">
				[xfgiven_original_title] 
				<li><span class="list-L">Оригинал:</span>
                    <p class="list-R">[xfvalue_original_title]</p>
                </li>
				[/xfgiven_original_title] 
				<li><span class="list-L">Жанр фильма:</span>
                    <p class="list-R">{category}</p>
                </li>
				[xfgiven_year]
				<li><span class="list-L">Год выпуска:</span>
                    <p class="list-R">[xfvalue_year]</p>
                </li>
				[/xfgiven_year]
				[xfgiven_director]
				<li><span class="list-L">Режиссёр:</span>
                    <p class="list-R">[xfvalue_director]</p>
                </li>
				[/xfgiven_director]
				[xfgiven_cast]
				<li><span class="list-L">Актёры:</span>
                    <p class="list-R">[xfvalue_cast]</p>
                </li>
				[/xfgiven_cast]
				[xfgiven_quality]
				<li><span class="list-L">Качество:</span>
                    <p class="list-R">[xfvalue_quality]</p>
                </li>
				[/xfgiven_quality]
				[xfgiven_audio]
				<li><span class="list-L">Озвучивание:</span>
                    <p class="list-R">[xfvalue_audio]</p>
                </li>
				[/xfgiven_audio]
            </ul>
            <div class="fs-img lcol">
                <span class="poster">
					<img src="[xfvalue_poster]" alt="{title}" title="{title}">
				</span>
            </div>
        </div>
        <div class="scont clrfix">
            <div style="display:inline;">Информация о {title}:
                <p itemprop="description">
					{short-story}
				</p>
            </div>
        </div>
        <div class="shareline clrfix">
            <div class="ratefull">
                <div class="rate">
                    <span class="small">Просмотров: {views}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="lcs-13" class="ListCinemaSeans">
        <div class="title">
            <h1 itemprop="name">{title} смотреть онлайн в хорошем качестве HD</h1></div>
			<div class="seansitem">
				<script>
					var ser_list = new Array();
				</script>
				<table border="0" cellpadding="0" cellspacing="0" style="margin: 0px 0 0 0px;">
					<tbody>
						<tr>
							<td width="589">
								<div class="viboom-overroll">
									<script>
										ser_list[1] = 'http://videoapi.my.mail.ru/videos/embed/mail/dima_sacr4/_myvideo/1820.html';
									</script>
									<div id="source1" style="display: none">
									</div>
									<div id="content" style="margin-bottom: 6px;">
										<iframe src="http://videoapi.my.mail.ru/videos/embed/mail/dima_sacr4/_myvideo/1863.html" width="589" height="349" scrolling="no" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" msallowfullscreen="" oallowfullscreen=""></iframe>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="source-links">
									<a href="javascript://" onclick="toggle(&quot;source1&quot;,1);">1 серия</a>
									<a href="javascript://" onclick="toggle(&quot;source2&quot;,2);">2 серия</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
        </div>
        <div class="clr"></div>
    </div>
    <center>
        <h2 style="margin:15px;color: #B0B0B0;font-size: 13px !important;font-family: Tahoma, verdana;">Смотреть фильм Большой матч онлайн в хорошем качестве</h2>
		<div>
			<div class="fullstory">
				<div class="fullstoryss">
					[xfgiven_links]
						<h2>Скачать {title} бесплатно</h2>
						<div class="links">
							<!--noindex-->[xfvalue_links]<!--/noindex-->
						</div>
					[/xfgiven_links]
					
					[xfgiven_torrent]<br />
						Скачать через torrent
						<div class="links">
							[xfvalue_torrent]
						</div>
					[/xfgiven_torrent]
				</div>
			</div>
		</div>
    </center>
    <script type="text/javascript">
        function toggle(id, a) {
            $("#content").html('<iframe src="' + ser_list[a] + '" width="589" height="349" scrolling="no" frameborder="0" allowfullscreen mozallowfullscreen webkitallowfullscreen msallowfullscreen oallowfullscreen></iframe>');
        }
        toggle("source1", 1);
    </script>
	<div class="rel">
		{addcomments}
		[comments]
			{comments}
			{navigation}
		[/comments]
	</div>
</div>



















